Flask==2.2.3          # Веб-фреймворк для создания веб-приложений
pymongo==4.3.3        # Библиотека для взаимодействия с MongoDB
gensim==4.3.0         # Библиотека для тематического моделирования (LDA и т.д.)
gunicorn==20.1.0      # WSGI-сервер для запуска Flask-приложений в продакшене
scikit-learn==1.2.2   # Инструменты для машинного обучения и анализа данных
wordcloud==1.8.2.2    # Для генерации облаков слов
